body{
  margin:0;
  padding:0;
  padding-top: 60px;
}



li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  

  #hprofileimage {
    border-radius: 500px;
    height:100%;
    width:100%;
  }

  .content {
    margin:10px 20% 0px 20%;
    padding: 5% 10% 10% 10%;
    background-color: #ecf2a9
  }

  #jaha{
    
  }