body{
  margin:0;
  padding:0;
}

.container {
  margin:0;
  padding:0;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  .active {
    background-color: #4CAF50;
  }

  #hprofileimage {
    border-radius: 500px;
  }

  .content {
    margin:5px 20% 0px 20%;
    padding: 5% 10% 10% 10%;
    background-color: #ecf2a9
  }